registry=https://registry.npmjs.org/
frozen-lockfile=false
prefer-frozen-lockfile=false
auto-install-peers=true
strict-peer-dependencies=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
prefer-offline=false
